#define BS_CENTER 0x300L
#define BS_PUSHBUTTON 0x0L
#define ES_LEFT 0x0L
#define SS_LEFT 0x0L
#define WS_BORDER 0x800000L
#define WS_CHILD 0x40000000L
#define WS_CAPTION 0x0C00000L
#define WS_MINIMIZEBOX 0x00020000L 
#define WS_MAXIMIZEBOX 0x00010000L
#define WS_POPUP 0x80000000L
#define WS_SYSMENU 0x00080000L
#define WS_TABSTOP 0x10000L 
#define WS_VISIBLE 0x10000000L
#define CBS_DROPDOWNLIST 3h
#define ES_MULTILINE 4h
#define ES_WANTRETURN 1000h
#define ES_AUTOHSCROLL 80h
#define SS_ENDELLIPSIS 4000h
#define CBS_HASSTRINGS 200h
#define SS_ENHMETAFILE 0Fh

//--------------------------------
#define STR1 1  
#define STR2 2  
#define IDI_ICON1 11
#define IDI_ICUR1 12

DLG1 DIALOG 0, 0, 880, 380
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Edytor Tekstowy"
FONT 10, "Arial"
{
	CONTROL "Nazwa pliku: ", 3, "STATIC", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 0, 65, 380

		CONTROL "Nowy dokument tekstowy", 2, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 67, 0, 165, 380

		CONTROL "", 1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_MULTILINE | ES_AUTOHSCROLL, 0, 10, 439, 380

		CONTROL "", 4, "STATIC", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | SS_ENHMETAFILE, 441, 10, 430, 380


}
STRINGTABLE
{
	STR1 "Komunikat"
	STR2 "B³¹d!"
}
IDI_ICON1 ICON "ikona.ico"
IDI_ICUR1 CURSOR "kursor.cur"
MENU1 MENU
{
	POPUP "Plik"
{
	MENUITEM "Nowy", 101
		MENUITEM "Zapisz", 102
		MENUITEM "Otworz", 103
		MENUITEM "Zamknij", 104
}
POPUP "Edycja"
{
	MENUITEM "Wyczysc", 105

}

}